dist/
awesome-api
awesome.log
*.out
dist/
W3C-Validator/
.vagrant
id_*
module2.1_task4/roles/geerlingguy.docker
bin/
Gemfile.lock
fixtures
*.gz
*.zip
.terraform
.terraform.tfstate.lock.info
terraform.tfstate*
*.tar
hello
*"DevOps"*
